<div class="modal-content">
  <h4>노래 URL</h4>
  <p><%= nokogiri %></p>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
</div>
