  <div class="row">
    <form class="col s12">
      <div class="row">
          <label>장르</label>
           <select class="browser-default">
             <option value="" disabled selected>장르를 고르세요</option>
             <option value="1">힙합</option>
             <option value="2">판소리</option>
             <option value="3">알엔디</option>
           </select>

        <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">궁금해! 허밍허밍!</label>
            </div>
        </div>
      </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
    </form>

    <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit
    </button>

  </div>
